[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pooch = "*"
librosa = "*"
tensorflow = "*"
numpy = "*"
audioread = "*"
fire = "*"
tinytag = "*"
matplotlib = "*"
sklearn = "*"
plotly = "*"
pandas = "*"
scipy = "*"
mutagen = "*"
halo = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.8"
